

/* monster Table */
.fas.fa-circle {
    font-size: 12px;
}


@media only screen and (max-width: 500px) {
    .table-row-button-container {
        margin-bottom: 5px;
    }

    .table-row-button-container .table-row-button {
        font-size: 10px;
    }
    
}
